/* CSS reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*introduction CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
  }
  body {
    font-family: 'Roboto Condensed', sans-serif;
    background: url(assets/Daniella\ Willett-Rabin.jpg) no-repeat center center fixed;
    background-size: cover;
  }
  #profile-card-top {
    width: 100%;
    max-width: calc(100vw - 10px);
    height: 35vw;
    display:flex;
    justify-content: center;
    
  }
  #identity-block {
    width: 19vw;
    height: 19vw;
    background-color: rg(150, 150, 150, .5);
    position: absolute;
    border-radius: 70%; 
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8vw;
    left: 40vw;
  }
  #identity-block:hover {
    transform: rotate(-240deg);
    transition: linear 6s ;
  }
  i {
    color: white;
  }
  #arrow {
    color: rgba(244,244,244, 1);
    font-size: 3vw;
    
  }
  li {
    display: inline;
  }
  .fa-facebook {
    position: relative;
    right: -10vw;
    top: -4vw;
    transform: rotate(240deg); 
  }
  .fa-instagram {
    position: relative;
    bottom: 8vw;
    transform: rotate(180deg)
  }
  .fa-youtube {
    position: relative;
    right: 10vw;
    top: -3vw;
    transform: rotate(110deg);
  }
  #juhasz {
    width: inherit;
    height: inherit;
    border-radius:50%;
    position: absolute;
   
  }
  #profile-photo {
    width: 20vw;
    height: 20vw;
    border-radius:50%;
    position: relative; 
    top: 1vw;
    left:-1vw;
    box-shadow: 2vw 1vw 10vw 2vw;
  }
  strong {
    font-size: 2vw;
    margin-left: 3vw;
  }
  #profile-card-bottom {
    width: 100%;
    max-width: calc(100vw - 10px);
    height: 100%;
    margin: 2.5vw;
    position: relative;
    background-color: rgba(100, 200, 200, .5);
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #past-block {
    min-width: 25%;
    max-width: 50%;
    height: 80%;
    color: rgba(200,200,200, 1)
  }
  #current-block {
    min-width: 25%;
    max-width: 50%;
    height: 80%;
    color: rgba(175,175,175,1);
  }
  #future-block {
    min-width: 25%;
    max-width: 50%;
    height: 80%;
    color: rgba(150,150,150,1);
  }
  .block {
    margin: 2vw;
    padding:2vw;
    background-color: rgba(0, 0, 0, .8);
    box-shadow: 2vw 2vw 2vw 1vw rgba(0, 0, 0, .6);
    box-sizing: border-box;
  }
  #oszi-fa {
    min-width: 25%;
    max-width: 50%;
    height: auto;
    position: relative;
    top: 3% 
  }
  #tavaszi-fa {
    min-width: 25%;
    max-width: 50%;
    height: auto;
    position: relative;
    top: 2vw;
  }
  #nyari-fa {
    min-width: 25%;
    max-width: 50%;
    height: auto;
    position: relative;
    top: 3vw; 
  }
  h2 {
    position: absolute;
    margin-top: 27vw;
    font-size: 4vw;
    color: rgba(200, 200, 200, 1);
    background-color: rgba(0, 0, 0, .6);
    box-shadow: 1vw 1vw 3vw 1vw rgba(0, 0, 0, .5)
  }
  h6 {
    position: absolute;
    margin-top: 23vw;
    margin-left: -2vw;
    font-size: 2vw;
    animation: blinker 2s linear infinite;
  }
  h3 {
    font-size: 3vw;
    margin: 1vw;
  }
  p {
    font-size: 2.7vw;
  }
  *{
    box-sizing: border-box;
  }
  @keyframes blinker {
    50% {
      opacity: .2;
    }
  
  }
  @media (max-width: 1200px) {
    #profile-card-bottom {
      flex-direction: column;
     
  
    }}